<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аптека</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div style="margin-right: auto; display: flex;">
                <a href="/search"><img class="logo" src="/static/logo.svg"></a>
                {% if username == 'admin' %}
                    <nav>
                        <a href="/new" style="margin-right: 24px;">Добавление</a>
                        <a href="/edit" style="margin-right: 24px;">Редактирование</a>
                        <a href="/delete" style="margin-right: 24px;">Удаление</a>
                    </nav>
                {% else %}
                {% endif %}
            </div>
            {% if is_logged %}
                <div style="display: flex; align-items: center;">
                    <div class="username">
                        {{ username }}
                    </div>
                    <div style="height: 24px;">
                        {% if username == 'admin' %}
                            <a href="/logout">
                                <img style="height: 24px; width: 24px;" src="/static/logout.svg" alt="Выход">
                            </a>
                        {% else %}
                            <a href="/delete_account" style="margin-right: 8px;">
                                <img style="height: 24px; width: 24px;" src="/static/delete.svg" alt="Выход">
                            </a>
                            <a href="/logout">
                                <img style="height: 24px; width: 24px;" src="/static/logout.svg" alt="Выход">
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
            {% endif %}
        </div>
    </header>
    <main>
        <div class="page-content">
            <div class="copyright">© Маглицкий М.А. ФБИ-12</div>
            <h1>{{ page_title }}</h1>
            {% block main %}{% endblock %}
        </div>
    </main>
</body>
</html>