{% extends "base.html" %}

{% block main %}
    <form method="POST">
        <label>Лекарство<br>
                <select class="input" name="delete" style="margin-top: 8px; width: 340px;" placeholder="Выберите лекарство">
                    {% for i in data %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select><br>
        </label>
        <div class="success">{{ success }}</div><br>
        <button class="primary-button" style="width: 340px;" type="submit">Удалить</button>
    </form>
{% endblock %}