{% extends "base.html" %}

{% block main %}
    <div>
        Список
        {{ data }}
        <div>
            <div class="card">
                Гематоген
            </div>
            <div class="card">
                Гематоген
            </div>
            <div class="card">
                Гематоген
            </div>
            <div class="card">
                Гематоген
            </div>
            <div class="card">
                Гематоген
            </div>
            <div class="card">
                Гематоген
            </div>
            <div class="card">
                Гематоген
            </div>
        </div>
        <button style="width: 100%; margin-top: 32px;" class="secondary-button">Показать ещё</button>
    </div>
{% endblock %}