{% extends "base.html" %}

{% block main %}
    <form method="POST">
        <label>Логин<br>
            <input class="input" name="username" style="margin-bottom: 16px; margin-top: 8px; width: 320px;" type="text">
        </label>
        <br>
        <label>Пароль<br>
            <input class="input" name="password" style="margin-bottom: 16px; margin-top: 8px; width: 320px;" type="password">
        </label><br>
        <div class="errors">{{ errors }}</div><br>
        <button style="width: 352px; margin-bottom: 32px;" class="primary-button" type="submit">Зарегистрироваться</button>
        <div>Уже есть аккаутн? <span><a href="/login">Выполните вход</a></span></div>
    </form>
{% endblock %}