{% extends "base.html" %}

{% block main %}
    <form class="search-area" method="POST">
        <input class="input" name="name" style="width: 486px; margin-right: 4px;" type="text" placeholder="Введите название лекарства">
        <input class="input" name="price_from" style="width: 120px; margin-right: 4px;" type="number" placeholder="Цена от" min="0" max="5000">
        <input class="input" name="price_to" style="width: 120px; margin-right: 4px;" type="number" placeholder="Цена до" min="0" max="5000">
        <div class="checkboxarea" style="width: 176px; display: inline-block; margin-right: 8px;">
            <label style="color: #1a1a1a; display: flex;">
                Только по рецепту
                <input style="margin-left: 12px;" name="recipe" type="checkbox">
            </label>
        </div>
        
        <button type="submit" class="primary-button">Найти</button>
    </form>
    {% if data %}
        <div style="margin-bottom: 20px; color: #b3b3b3;">Результатов: {{ res_count }}</div>
        <div id="cards" class="cards" style="height: 980px;">
            {% for i in data %}
                <div class="card">
                    <div>
                        <h3>{{ i.name }}</h3>
                        <div style="color: #828282; margin-top: 12px;">
                            {% if i.count == 0 %}
                                <div style="color: red;">Отсутствует</div>
                            {% else %}
                                Осталось {{ i.count }} шт.
                            {% endif %}
                        </div>
                        <div>
                            {% if i.recipe_only %}
                                <div style="color: #286fe1;">Только по рецепту</div>
                            {% endif %}
                        </div>
                        <h2 style="margin-top: 20px;">{{ i.price }} ₽</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if len_data > 10 %}
            <button id="expand_list" style="width: 100%; margin-top: 24px; margin-bottom: 64px;" class="secondary-button">Показать ещё</button>
        {% endif %}
        <script>
            document.getElementById("expand_list").addEventListener("click", function() {
                let items = 10;
                document.getElementById("cards").style.height = `${parseInt(document.getElementById("cards").style.height) + 980}px`;
                if (parseInt(document.getElementById("cards").style.height) >= ('{{ len_data }}' / 2 * 196)) {
                    document.getElementById("cards").style.height = 'none';
                    document.getElementById("expand_list").style.display = 'none';
                };
            });
        </script>
    {% else %}
        <h2 style="text-align: center; color: #a4a4a4; margin-top: 64px;">Нет результатов</h2>
    {% endif %}
{% endblock %}